In [1]:
import pandas as pd

### Caricamento dataframe grezzi

In [2]:
european_wholesale_prices = pd.read_csv("../data/raw/ember_european_wholesale_prices/european_wholesale_electricity_price_data_monthly.csv")
ember_yearly_electricity = pd.read_csv("../data/raw/ember_yearly_electricity/yearly_full_release_long_format.csv")

### Esplorazione dataframe European Wholesale Prices

In [3]:
european_wholesale_prices.head()

   Country ISO3 Code        Date  Price (EUR/MWhe)
0  Austria       AUT  2015-01-01             29.94
1  Belgium       BEL  2015-01-01             42.33
2  Czechia       CZE  2015-01-01             29.47
3  Denmark       DNK  2015-01-01             27.12
4  Estonia       EST  2015-01-01             33.84

In [4]:
european_wholesale_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3745 entries, 0 to 3744
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           3745 non-null   object
 1   ISO3 Code         3745 non-null   object
 2   Date              3745 non-null   object
 3   Price (EUR/MWhe)  3739 non-null   float64
dtypes: float64(1), object(3)
memory usage: 117.2+ KB

In [5]:
european_wholesale_prices.groupby('Country')['Price (EUR/MWhe)'].describe()

,count,mean,std,min,25%,50%,75%,max
Country,,,,,,,,
Austria,132.0,78.445985,76.068928,17.88,33.1325,46.135,92.6200,488.27
Belgium,132.0,77.409773,67.707414,14.68,37.7550,55.225,80.8475,448.12
Bulgaria,111.0,91.957658,73.535300,23.36,41.5150,61.750,109.9800,433.22
Croatia,99.0,102.200101,81.552258,22.43,51.4300,78.470,113.3800,494.05
Czechia,132.0,77.303106,69.991831,18.10,34.4600,51.585,92.0375,476.73
Denmark,132.0,66.632652,62.512861,13.69,29.6300,46.995,81.4275,454.43
Estonia,132.0,69.359924,53.328378,23.68,34.2475,47.750,88.1975,360.70
Finland,132.0,52.995455,42.234554,12.53,31.6325,39.920,54.3825,261.53
France,132.0,76.728106,78.120032,13.41,35.5125,50.185,77.4200,493.08
Germany,132.0,72.988030,67.640020,17.51,32.7475,47.220,85.1425,463.59
Greece,132.0,94.412879,72.875068,28.48,50.6975,64.090,107.1550,436.76
Hungary,132.0,88.007500,75.683098,23.57,42.0050,58.490,104.0825,495.65
Ireland,87.0,112.456552,69.202985,23.78,56.0050,102.420,139.3050,383.32
Italy,132.0,98.851667,83.446049,21.79,49.3050,65.085,117.0825,543.55
Latvia,132.0,75.114015,64.166373,23.50,38.6150,49.230,90.7425,467.09
Lithuania,132.0,75.693030,65.305956,23.30,38.8800,49.825,89.5875,480.50
Luxembourg,132.0,72.988030,67.640020,17.51,32.7475,47.220,85.1425,463.59
Montenegro,30.0,102.540667,21.051997,63.67,89.5100,101.095,113.4450,151.81
Netherlands,132.0,76.567121,66.706517,17.67,38.6575,51.590,86.8775,447.25
North Macedonia,23.0,103.548261,27.907706,60.47,86.4950,100.980,115.7700,165.41
Norway,132.0,46.424621,39.515645,1.85,24.9850,36.500,51.4400,245.94
Poland,132.0,75.262121,43.963987,32.25,39.3975,56.585,103.1775,268.88
Portugal,132.0,71.014545,47.035561,13.32,43.0550,55.945,77.4100,283.09
Romania,132.0,85.975303,74.524160,24.76,40.1300,57.860,103.2650,490.80
Serbia,109.0,99.718073,79.666758,23.98,48.6700,67.840,118.5800,492.45
Slovakia,132.0,81.598258,74.714985,18.26,36.5475,52.655,96.0700,492.47
Slovenia,132.0,86.713788,75.975105,21.23,42.1775,57.470,98.5325,494.38
Spain,132.0,70.684848,46.966120,13.77,42.9825,55.880,76.3450,283.19
Sweden,132.0,45.599470,33.895834,9.07,28.4875,35.940,52.3625,235.20
Switzerland,129.0,84.141783,79.925404,16.86,37.4400,56.170,85.8000,488.14
United Kingdom,115.0,93.876174,69.389381,25.08,51.2300,70.750,99.2300,438.03

#### Valutazioni
Il dataset rappresenta il costo della materia energia priva di tasse, oneri, trasporto e margini

Date Ã¨ object, bisogna convertire in datetime.

In [6]:
european_wholesale_prices["Date"] = pd.to_datetime(
    european_wholesale_prices["Date"],
    format="%Y-%m-%d"
)

In [7]:
european_wholesale_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3745 entries, 0 to 3744
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           3745 non-null   object
 1   ISO3 Code         3745 non-null   object
 2   Date              3745 non-null   datetime64[ns]
 3   Price (EUR/MWhe)  3739 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 117.2+ KB

##### Analisi valori mancanti:

In [8]:
european_wholesale_prices.isna().sum()

Country             0
ISO3 Code           0
Date                0
Price (EUR/MWhe)    6
dtype: int64

In [9]:
european_wholesale_prices[
    european_wholesale_prices["Price (EUR/MWhe)"].isna()
]

              Country ISO3 Code       Date  Price (EUR/MWhe)
3463  North Macedonia       MKD 2025-03-01               NaN
3494  North Macedonia       MKD 2025-04-01               NaN
3525  North Macedonia       MKD 2025-05-01               NaN
3587  North Macedonia       MKD 2025-07-01               NaN
3618  North Macedonia       MKD 2025-08-01               NaN
3649  North Macedonia       MKD 2025-09-01               NaN

In [10]:
european_wholesale_prices = european_wholesale_prices.dropna(
    subset=["Price (EUR/MWhe)"]
)

---

### Esplorazione dataframe Yearly Electricity

In [11]:
ember_yearly_electricity.head()

,Area,ISO 3 code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,ASEAN,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
0,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Clean,GW,0.19,NaN,NaN
1,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Fossil,GW,0.03,NaN,NaN
2,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Gas and Other Fossil,GW,0.03,NaN,NaN
3,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",GW,0.19,NaN,NaN
4,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Renewables,GW,0.19,NaN,NaN

In [12]:
ember_yearly_electricity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357052 entries, 0 to 357051
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Area                 357052 non-null  object
 1   ISO 3 code           335602 non-null  object
 2   Year                 357052 non-null  int64
 3   Area type            357052 non-null  object
 4   Continent            335602 non-null  object
 5   Ember region         335602 non-null  object
 6   EU                   335602 non-null  float64
 7   OECD                 335602 non-null  float64
 8   G20                  335602 non-null  float64
 9   G7                   335602 non-null  float64
 10  ASEAN                335602 non-null  float64
 11  Category             357052 non-null  object
 12  Subcategory          357052 non-null  object
 13  Variable             357052 non-null  object
 14  Unit                 357052 non-null  object
 15  Value                337347 non-null  float64
 16  YoY absolute change  245879 non-null  float64
 17  YoY % change         164175 non-null  float64
dtypes: float64(8), int64(1), object(9)
memory usage: 49.0+ MB

#### Analisi tipologia di area

In [13]:
print("Tipologia di area: ", ember_yearly_electricity["Area type"].unique())

Tipologia di area:  ['Country or economy' 'Region']

In [14]:
print("Continenti per nazione:", ember_yearly_electricity[ember_yearly_electricity["Area type"] == "Country or economy"]["Continent"].unique())
print("Continenti per regione:", ember_yearly_electricity[ember_yearly_electricity["Area type"] == "Country or economy"]["Ember region"].unique())

Continenti per nazione: ['Asia' 'Europe' 'Africa' 'Oceania' 'North America' 'South America']
Continenti per regione: ['Asia' 'Europe' 'Africa' 'Oceania' 'Latin America and Caribbean'
 'Middle East' 'North America']

In [15]:
print("Continenti per nazione:", ember_yearly_electricity[ember_yearly_electricity["Area type"] == "Region"]["Continent"].unique())
print("Continenti per regione:", ember_yearly_electricity[ember_yearly_electricity["Area type"] == "Region"]["Ember region"].unique())

Continenti per nazione: [nan]
Continenti per regione: [nan]

Possiamo non considerare Area Type = "Region"

#### Analisi tipologia di area

In [16]:
price_iso3 = set(european_wholesale_prices["ISO3 Code"].dropna().unique())

In [17]:
european_yearly_energy = ember_yearly_electricity[
    ember_yearly_electricity["ISO 3 code"].isin(price_iso3)
].copy()

#### Analisi categorie e sottocategorie

In [18]:
european_yearly_energy["Category"].unique()

array(['Capacity', 'Electricity demand', 'Electricity generation',
       'Electricity imports', 'Power sector emissions'], dtype=object)

In [19]:
european_yearly_energy["Subcategory"].unique()

array(['Aggregate fuel', 'Fuel', 'Demand', 'Demand per capita', 'Total',
       'Electricity imports', 'CO2 intensity'], dtype=object)

In [20]:
european_yearly_energy[
    european_yearly_energy["Category"].isin([
        "Electricity generation",
        "Electricity demand",
        "Electricity imports"
    ])
].head(25)

,Area,ISO 3 code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,ASEAN,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
20641,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity demand,Demand,Demand,TWh,58.27,NaN,NaN
20642,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity demand,Demand per capita,Demand per capita,MWh,7.27,NaN,NaN
20643,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Clean,%,72.84,NaN,NaN
20644,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Fossil,%,27.16,NaN,NaN
20645,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Gas and Other Fossil,%,17.57,NaN,NaN
20646,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",%,72.72,NaN,NaN
20647,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Renewables,%,72.84,NaN,NaN
20648,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Wind and Solar,%,0.12,NaN,NaN
20649,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Clean,TWh,43.44,NaN,NaN
20650,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Fossil,TWh,16.20,NaN,NaN
20651,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Gas and Other Fossil,TWh,10.48,NaN,NaN
20652,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",TWh,43.37,NaN,NaN
20653,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Renewables,TWh,43.44,NaN,NaN
20654,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Wind and Solar,TWh,0.07,NaN,NaN
20655,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Fuel,Bioenergy,%,2.57,NaN,NaN
20656,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Fuel,Coal,%,9.59,NaN,NaN
20657,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Fuel,Gas,%,13.16,NaN,NaN
20658,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Fuel,Hydro,%,70.15,NaN,NaN
20659,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Fuel,Nuclear,%,0.00,NaN,NaN
20660,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Fuel,Other Fossil,%,4.41,NaN,NaN
20661,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Fuel,Other Renewables,%,0.00,NaN,NaN
20662,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Fuel,Solar,%,0.00,NaN,NaN
20663,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Fuel,Wind,%,0.12,NaN,NaN
20664,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Fuel,Bioenergy,TWh,1.53,NaN,NaN
20665,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Fuel,Coal,TWh,5.72,NaN,NaN

##### Visualizzazione sottocategorie

In [21]:
categories = set(
    european_yearly_energy[
        european_yearly_energy["Category"].isin([
        "Electricity generation",
        "Electricity demand",
        "Electricity imports"
    ])][["Category", "Subcategory", "Variable","Unit"]]
    .drop_duplicates()
    .itertuples(index=False, name=None)
)
categories

{('Electricity demand', 'Demand', 'Demand', 'TWh'),
 ('Electricity demand', 'Demand per capita', 'Demand per capita', 'MWh'),
 ('Electricity generation', 'Aggregate fuel', 'Clean', '%'),
 ('Electricity generation', 'Aggregate fuel', 'Clean', 'TWh'),
 ('Electricity generation', 'Aggregate fuel', 'Fossil', '%'),
 ('Electricity generation', 'Aggregate fuel', 'Fossil', 'TWh'),
 ('Electricity generation', 'Aggregate fuel', 'Gas and Other Fossil', '%'),
 ('Electricity generation', 'Aggregate fuel', 'Gas and Other Fossil', 'TWh'),
 ('Electricity generation',
  'Aggregate fuel',
  'Hydro, Bioenergy and Other Renewables',
  '%'),
 ('Electricity generation',
  'Aggregate fuel',
  'Hydro, Bioenergy and Other Renewables',
  'TWh'),
 ('Electricity generation', 'Aggregate fuel', 'Renewables', '%'),
 ('Electricity generation', 'Aggregate fuel', 'Renewables', 'TWh'),
 ('Electricity generation', 'Aggregate fuel', 'Wind and Solar', '%'),
 ('Electricity generation', 'Aggregate fuel', 'Wind and Solar', 'TWh'),
 ('Electricity generation', 'Fuel', 'Bioenergy', '%'),
 ('Electricity generation', 'Fuel', 'Bioenergy', 'TWh'),
 ('Electricity generation', 'Fuel', 'Coal', '%'),
 ('Electricity generation', 'Fuel', 'Coal', 'TWh'),
 ('Electricity generation', 'Fuel', 'Gas', '%'),
 ('Electricity generation', 'Fuel', 'Gas', 'TWh'),
 ('Electricity generation', 'Fuel', 'Hydro', '%'),
 ('Electricity generation', 'Fuel', 'Hydro', 'TWh'),
 ('Electricity generation', 'Fuel', 'Nuclear', '%'),
 ('Electricity generation', 'Fuel', 'Nuclear', 'TWh'),
 ('Electricity generation', 'Fuel', 'Other Fossil', '%'),
 ('Electricity generation', 'Fuel', 'Other Fossil', 'TWh'),
 ('Electricity generation', 'Fuel', 'Other Renewables', '%'),
 ('Electricity generation', 'Fuel', 'Other Renewables', 'TWh'),
 ('Electricity generation', 'Fuel', 'Solar', '%'),
 ('Electricity generation', 'Fuel', 'Solar', 'TWh'),
 ('Electricity generation', 'Fuel', 'Wind', '%'),
 ('Electricity generation', 'Fuel', 'Wind', 'TWh'),
 ('Electricity generation', 'Total', 'Total Generation', 'TWh'),
 ('Electricity imports', 'Electricity imports', 'Net Imports', 'TWh')}

In [22]:
european_yearly_energy[
        european_yearly_energy["Category"] == "Electricity generation"
    ]["Unit"].unique()

array(['%', 'TWh'], dtype=object)

#### Determinazione possibili colonne da mantenere
Separazione delle fonti pulite e quelle fossili:
Fonti Pulite:
- Wind and Solar
- Hydro, Bioenergy and Other Renewables
- Nuclear
Fonti Fossili:
- Coal
- Gas and Other Fossil

Colonne aggiuntive considerate:
- Electricity demand
- Electricity imports
- Total Generation

In [23]:
ELECTRICITY_GENERATION_VARS = [
    "Clean",
    "Wind and Solar",
    "Hydro, Bioenergy and Other Renewables",
    "Nuclear",
    "Fossil",
    "Coal",
    "Gas and Other Fossil",
    "Total Generation"
]

In [24]:
filtered_european_yearly_energy = european_yearly_energy[
    (
        (
            (european_yearly_energy["Category"] == "Electricity generation") &
            (european_yearly_energy["Variable"].isin(ELECTRICITY_GENERATION_VARS))
        )
         |
        (
            (european_yearly_energy["Category"] == "Electricity demand") &
            (european_yearly_energy["Subcategory"] == "Demand")
        )
         |
        (
            european_yearly_energy["Category"] == "Electricity imports"
        )
    )
     &
    (european_yearly_energy["Unit"] == "TWh")
     &
    (european_yearly_energy["Area type"] == "Country or economy")
].copy()

filtered_european_yearly_energy = filtered_european_yearly_energy.dropna(subset=["ISO 3 code", "Value"])

In [25]:
filtered_european_yearly_energy.head(12)

,Area,ISO 3 code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,ASEAN,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
20641,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity demand,Demand,Demand,TWh,58.27,NaN,NaN
20649,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Clean,TWh,43.44,NaN,NaN
20650,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Fossil,TWh,16.20,NaN,NaN
20651,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Gas and Other Fossil,TWh,10.48,NaN,NaN
20652,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",TWh,43.37,NaN,NaN
20654,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Wind and Solar,TWh,0.07,NaN,NaN
20665,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Fuel,Coal,TWh,5.72,NaN,NaN
20668,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Fuel,Nuclear,TWh,0.00,NaN,NaN
20673,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Total,Total Generation,TWh,59.64,NaN,NaN
20674,Austria,AUT,2000,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity imports,Electricity imports,Net Imports,TWh,-1.37,NaN,NaN
20707,Austria,AUT,2001,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity demand,Demand,Demand,TWh,61.20,2.93,5.03
20715,Austria,AUT,2001,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Clean,TWh,42.24,-1.20,-2.76

In [26]:
filtered_european_yearly_energy["Variable"].value_counts()
filtered_european_yearly_energy.groupby(["Category", "Variable"])["Value"].describe()

                                                              count  \
Category               Variable
Electricity demand     Demand                                 770.0
Electricity generation Clean                                  770.0
                       Coal                                   745.0
                       Fossil                                 770.0
                       Gas and Other Fossil                   770.0
                       Hydro, Bioenergy and Other Renewables  770.0
                       Nuclear                                770.0
                       Total Generation                       770.0
                       Wind and Solar                         770.0
Electricity imports    Net Imports                            770.0

                                                                    mean  \
Category               Variable
Electricity demand     Demand                                 111.916299
Electricity generation Clean                                   61.320104
                       Coal                                    25.870389
                       Fossil                                  50.365519
                       Gas and Other Fossil                    25.335078
                       Hydro, Bioenergy and Other Renewables   21.383844
                       Nuclear                                 29.167403
                       Total Generation                       111.685623
                       Wind and Solar                          10.768857
Electricity imports    Net Imports                              0.230675

                                                                     std  \
Category               Variable
Electricity demand     Demand                                 145.588504
Electricity generation Clean                                  100.627166
                       Coal                                    52.050976
                       Fossil                                  80.919097
                       Gas and Other Fossil                    42.996225
                       Hydro, Bioenergy and Other Renewables   30.005484
                       Nuclear                                 75.710355
                       Total Generation                       150.578755
                       Wind and Solar                          25.111312
Electricity imports    Net Imports                             15.851112

                                                                min      25%  \
Category               Variable
Electricity demand     Demand                                  3.18  18.9500
Electricity generation Clean                                   0.01   8.1525
                       Coal                                    0.00   1.4400
                       Fossil                                  0.14   4.6525
                       Gas and Other Fossil                    0.00   2.3400
                       Hydro, Bioenergy and Other Renewables   0.01   2.6150
                       Nuclear                                 0.00   0.0000
                       Total Generation                        0.40  17.6550
                       Wind and Solar                          0.00   0.1300
Electricity imports    Net Imports                           -89.85  -2.8650

                                                                 50%  \
Category               Variable
Electricity demand     Demand                                 56.425
Electricity generation Clean                                  21.865
                       Coal                                    5.940
                       Fossil                                 20.870
                       Gas and Other Fossil                    8.230
                       Hydro, Bioenergy and Other Renewables   6.455
                       Nuclear                                 0.000
                       Total Generation                       54.820
                       Wind and Solar                          1.275
Electricity imports    Net Imports                             1.365

                                                                   75%     max
Category               Variable
Electricity demand     Demand                                 124.5350  614.54
Electricity generation Clean                                   61.6325  531.45
                       Coal                                    24.2100  304.63
                       Fossil                                  48.7275  401.13
                       Gas and Other Fossil                    20.2750  214.34
                       Hydro, Bioenergy and Other Renewables   31.8325  144.19
                       Nuclear                                 23.9675  451.53
                       Total Generation                       130.7875  644.46
                       Wind and Solar                           9.1325  212.74
Electricity imports    Net Imports                              5.5450   51.25

### Modifica del Pivot

#### Verifica che esista una sola riga per ogni "Area", "ISO 3 code", "Year", "Variable"

In [27]:
dup_check = (
    filtered_european_yearly_energy
    .groupby(["Area", "ISO 3 code", "Year", "Variable"])
    .size()
    .reset_index(name="count")
)

dup_check[dup_check["count"] > 1].head()

Empty DataFrame
Columns: [Area, ISO 3 code, Year, Variable, count]
Index: []

#### Modifica del pivot utilizzando come index "Area", "ISO 3 code", "Year"

In [28]:
ordered_columns = [
    # Identificativi
    "Area",
    "ISO 3 code",
    "Year",

    # Domanda / Import
    "Demand",
    "Net Imports",

    # Generazione totale
    "Total Generation",

    # Clean
    "Clean",
    "Nuclear",
    "Wind and Solar",
    "Hydro, Bioenergy and Other Renewables",

    # Fossili
    "Fossil",
    "Coal",
    "Gas and Other Fossil"
]

In [29]:
filtered_european_yearly_energy = filtered_european_yearly_energy.pivot_table(
    index=["Area", "ISO 3 code", "Year"],
    columns="Variable",
    values="Value"
).reset_index().reindex(columns=ordered_columns)
filtered_european_yearly_energy.columns.name = None
filtered_european_yearly_energy.head()

,Area,ISO 3 code,Year,Demand,Net Imports,Total Generation,Clean,Nuclear,Wind and Solar,"Hydro, Bioenergy and Other Renewables",Fossil,Coal,Gas and Other Fossil
0,Austria,AUT,2000,58.27,-1.37,59.64,43.44,0.0,0.07,43.37,16.20,5.72,10.48
1,Austria,AUT,2001,61.20,0.22,60.98,42.24,0.0,0.11,42.13,18.74,6.89,11.85
2,Austria,AUT,2002,61.33,0.70,60.63,41.90,0.0,0.15,41.75,18.73,6.61,12.12
3,Austria,AUT,2003,63.58,5.61,57.97,35.24,0.0,0.38,34.86,22.73,8.44,14.29
4,Austria,AUT,2004,64.93,3.08,61.85,39.62,0.0,0.95,38.67,22.23,7.91,14.32

##### Analisi valori mancanti:

In [30]:
filtered_european_yearly_energy.isna().sum()

Area                                      0
ISO 3 code                                0
Year                                      0
Demand                                    0
Net Imports                               0
Total Generation                          0
Clean                                     0
Nuclear                                   0
Wind and Solar                            0
Hydro, Bioenergy and Other Renewables     0
Fossil                                    0
Coal                                     25
Gas and Other Fossil                      0
dtype: int64

In [31]:
filtered_european_yearly_energy["Coal"] = (
    filtered_european_yearly_energy["Coal"].fillna(0)
)

#### Controllo bilanciamenti (Clean + Fossil == Total Generation, Total Generation + Net Imports == Demand)

In [32]:
import numpy as np

mask = (
    filtered_european_yearly_energy["Clean"].notna() &
    filtered_european_yearly_energy["Fossil"].notna() &
    filtered_european_yearly_energy["Total Generation"].notna()
)

assert np.allclose(
    filtered_european_yearly_energy.loc[mask, "Clean"] + filtered_european_yearly_energy.loc[mask, "Fossil"],
    filtered_european_yearly_energy.loc[mask, "Total Generation"],
    rtol=1e-3,
    atol=1e-2
), "Confronto tra produzione energetica mediante fonti pulite e fossili fallito (Clean + Fossil != Total Generation)"

In [33]:
balance_mask = (
    filtered_european_yearly_energy["Total Generation"].notna() &
    filtered_european_yearly_energy["Net Imports"].notna() &
    filtered_european_yearly_energy["Demand"].notna()
)

balance_error = (
    filtered_european_yearly_energy["Total Generation"]
    + filtered_european_yearly_energy["Net Imports"]
    - filtered_european_yearly_energy["Demand"]
)

balance_error.describe()

count    7.700000e+02
mean    -3.460435e-17
std      1.395179e-14
min     -1.136868e-13
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.136868e-13
dtype: float64

E' ragionevole pensare che gli errori di bilanciamento tra produzione, richiesta e import siano nulli

### Salvataggio in data/processed

In [34]:
filtered_european_yearly_energy.to_csv("../data/processed/filtered_european_yearly_energy.csv", index=False)
european_wholesale_prices.to_csv("../data/processed/european_wholesale_prices.csv", index=False)